{% extends 'base.html' %}

{%block menu %}
    {% for idx,d in days_map.items%}
    <a class="nav-link{% if d == day %} active{%endif%}" aria-current="page" href="{%url 'day' d%}">
        <h5>{{d}}</h5>
    </a>
    {%endfor%}
{%endblock%}

{%block headerButtons%}
    {% include 'actionFormModal.html' with days_map=days_map curr_day=day switches=switches post_url=request.get_full_path id='addActionModal'%}
{%endblock%}

{%block content%}
    {%for action in actions%}
        {% include 'actionItem.html' with action=action%}
    {%endfor%}
{%endblock%}